/**
 * Contains Bootstrap variable overrides.
 */

$carousel-control-color: #000;
$carousel-control-width: 25%;
$carousel-control-opacity: .75;
$carousel-control-font-size: 40px;

$carousel-indicator-active-bg: blue;
$carousel-indicator-border-color: #000;
